# Refuse to install any package that claims to not be compatible with the current Node.js version.
engine-strict=true

# Configure with an exact version rather than using npm’s default semver range operator.
save-exact=true
